* {
	position: relative;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Monaco, Andale, monospace;
}

header {
	padding-top: 64px;
	padding-bottom: 32px;
	text-align: center;
}
header span.note {
	color: #999;
}

footer {
	position: fixed;

	bottom: 0;

	height: 60px;
	width: 100%;

	background-color: hsla(0,0%,95%,0.95);

	text-align: center;
}

section {
	text-align: center;
	border-bottom: 1px solid #222;
	display: block;
	padding: 1em;
	width: 80%;
	margin: 0 auto;
}
section > pre,
section > #icon {
	vertical-align: middle;
}
section.note {
	margin-bottom: 60px;
	border-bottom: none;
}
#intro p,
#intro img {
	vertical-align: middle;
}

a {
	color: #222;
}

pre {
	display: inline-block;

	font-family: Monaco, Andale, monospace;

	font-weight: bold;
	text-align: left;

	padding: 0 2em;
}
pre em {
	color: #CCC;
	font-style: normal;
}

pre.code {
	color: #FFF;
	background-color: hsla(0,0%,0%,0.5);
	padding: 0.5em 1em;
	border-radius: 0.4em;
}

button.download {
	background-color: hsla(0,0%,0%,0.8);
	color: #fff;
	border-radius: 0.3em;
	font-size: 1.4em;
	font-weight: bold;
	border: none;
	padding: 0.2em 0.4em;
	margin: 1em;
	top: 0;
}
button.download:hover {
	background-color: #49CFF5;
}
button.download:active {
	top: 2px;
}

#fork-me {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
}

.fork-me {
	width: 8em;
	height: 8em;

	transition: all 0.3s ease-out;
}
.fork-me:hover {
	width: 10em;
	height: 10em;

	transform: rotate(15deg);
}
.fork-me:hover path {
	fill: #49cff5;
}

#icon {
	display: inline-block;

	width: 10em;
	height: 10em;

	margin-right: 2em;

	transition: all 0.3s ease-out;
}
#icon:hover {
	width: 15em;
	height: 15em;

	transform: rotate(180deg);
	transform-origin: center center;
}
